@charset "UTF-8";

/*Typical devices breakpoints
-------------------------------
Celular: de 0px até 576px

Tablet: 768px

Desktop: 1280px

Grandes telas: 1440px
*/

@media screen and (min-width: 768px){

    body, html {
        background-image: linear-gradient(#1b292b, rgb(110, 183, 183));
    }

    div {
        height: 290px;
        width: 700px;
        display: flex;
        flex-direction: row;
        transition: width 0.5s, heigth 0.5s;
        transition-timing-function: ease;
    }

    #topimg {
    width: 40%;
    height: 100%;
    display: block;
    object-fit: cover;
    }

    main {
        width: 60%;
        padding-bottom: 15px;
        
        
    }

    #entrar {
        width: 97%;
    }

    p {
        width: 395px;
        
    }
}

@media screen and (min-width: 1200px){

     body, html {
        background-image: linear-gradient(#1b292b, rgb(110, 183, 183));
    }

    div {
        height: 390px;
        width: 900px;
        display: flex;
        flex-direction: row-reverse;
        transition: width 0.5s, heigth 0.5s;
        transition-timing-function: ease;
    }

    #topimg {
    width: 50%;
    height: 100%;
    display: block;
    object-fit: cover;
    }

    p {
        width: 440px;
    }
    #msg {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 1.1em;
    line-height: 1.5;
    font-weight: 100;
    
    }

    #entrar {
        width: 97%;
    }

    main {
        width: 50%;
    }

    h1 {
        font-size: 2.6em;
    }
}
